
.flashcard-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin: 15px;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d
	
}


.is-flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #a8326d;
  font-family: sans-serif;
  text-align: center;
}

.flashcard-front {
  background-color: white;
  color: black;
}

.flashcard-back {
  background-color: #a8326d;
  color: white;
  transform: rotateY(180deg);
}